:root {
  --background: hsl(0 0% 80%);
  --foreground: hsl(0 0% 12.1569%);
  --card: hsl(0 0% 69.0196%);
  --card-foreground: hsl(0 0% 12.1569%);
  --popover: hsl(0 0% 69.0196%);
  --popover-foreground: hsl(0 0% 12.1569%);
  --primary: hsl(0 73.4597% 41.3725%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(82 38.9610% 30.1961%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 72.1569%);
  --muted-foreground: hsl(0 0% 29.0196%);
  --accent: hsl(207.2727 44% 49.0196%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(26.1176 100% 50%);
  --destructive-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 31.3725%);
  --input: hsl(0 0% 31.3725%);
  --ring: hsl(0 73.4597% 41.3725%);
  --chart-1: hsl(0 73.4597% 41.3725%);
  --chart-2: hsl(82 38.9610% 30.1961%);
  --chart-3: hsl(207.2727 44% 49.0196%);
  --chart-4: hsl(26.1176 100% 50%);
  --chart-5: hsl(15.7143 17.5000% 47.0588%);
  --sidebar: hsl(0 0% 69.0196%);
  --sidebar-foreground: hsl(0 0% 12.1569%);
  --sidebar-primary: hsl(0 73.4597% 41.3725%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(207.2727 44% 49.0196%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(0 0% 31.3725%);
  --sidebar-ring: hsl(0 73.4597% 41.3725%);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 10.1961%);
  --foreground: hsl(0 0% 87.8431%);
  --card: hsl(0 0% 16.4706%);
  --card-foreground: hsl(0 0% 87.8431%);
  --popover: hsl(0 0% 16.4706%);
  --popover-foreground: hsl(0 0% 87.8431%);
  --primary: hsl(1.3636 77.1930% 55.2941%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(92.0388 47.9070% 42.1569%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(0 0% 14.5098%);
  --muted-foreground: hsl(0 0% 62.7451%);
  --accent: hsl(206.7123 89.0244% 67.8431%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(37.6471 100% 50%);
  --destructive-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 29.0196%);
  --input: hsl(0 0% 29.0196%);
  --ring: hsl(1.3636 77.1930% 55.2941%);
  --chart-1: hsl(1.3636 77.1930% 55.2941%);
  --chart-2: hsl(92.0388 47.9070% 42.1569%);
  --chart-3: hsl(206.7123 89.0244% 67.8431%);
  --chart-4: hsl(37.6471 100% 50%);
  --chart-5: hsl(15.8824 15.3153% 56.4706%);
  --sidebar: hsl(0 0% 7.8431%);
  --sidebar-foreground: hsl(0 0% 87.8431%);
  --sidebar-primary: hsl(1.3636 77.1930% 55.2941%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(206.7123 89.0244% 67.8431%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(0 0% 29.0196%);
  --sidebar-ring: hsl(1.3636 77.1930% 55.2941%);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 2px 4px -1px hsl(0 0% 0% / 0.60);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 4px 6px -1px hsl(0 0% 0% / 0.60);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 8px 10px -1px hsl(0 0% 0% / 0.60);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.50);
}
